* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}


/******************************Header-Start********************************************/
.page_header {
    background-color: #282828;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 10px;
}

.page_headerLeft_divLogo {
    width: 45px;
}

.mobileMenu {
    display: none;
}

.page_headerLeft_div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}


.page_headerLeft_divText {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    color: aqua;
}

.page_headerLeft_divTextBottom {
    font-size: 7px;
}



.page_headerRight_divMenuCategoriesDivUl,
.page_headerRight_divMenuStoresDivUl {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background-color: white;
    color: black;
    gap: 5px;
    border-radius: 0.25cm;
    padding: 6px 0px;
}


.page_headerRight_divMenuCategoriesDivUlLI,
.page_headerRight_divMenuStoresDivUlLI {
    list-style-type: none;
    padding: 5px 10px;
    cursor: pointer;
    width: 100%;
}

.page_headerRight_divMenuCategoriesDivUlLI:hover,
.page_headerRight_divMenuStoresDivUlLI:hover {
    background-color: #dcdada;
}

/* Initially hide the list items */
.page_headerRight_divMenuCategoriesDivUl,
.page_headerRight_divMenuStoresDivUl {
    display: none;
}

/* Show list items when the parent div has the 'active' class */
.page_headerRight_divMenuCategoriesDiv:hover .page_headerRight_divMenuCategoriesDivUl {
    display: flex;
    flex-direction: column;
    text-align: start;
    position: absolute;

}

.page_headerRight_divMenuStoresDiv:hover .page_headerRight_divMenuStoresDivUl {
    display: flex;
    flex-direction: column;
    text-align: start;
    position: absolute;
}

.page_headerRight_divMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.page_headerRight_divMenuHome {
    color: white;
    text-decoration: none;
}

.page_headerRight_divMenuHome:hover,
.page_headerRight_divMenuTopsteals:hover,
.page_headerRight_divMenuCategoriesDivP:hover,
.page_headerRight_divMenuStoresDivP:hover {
    cursor: pointer;
}

/******************************Header-End********************************************/


/******************************Footer-Start********************************************/

.page_footer {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding: 10px 120px;
    gap: 20px;
}

.page_footerTop_Div {
    font-size: 14px;
    color: gray;
}

.page_footerTop_Div a {
    color: #8f8e8e;
}

.page_footerBottom_Div {
    font-size: 15px;
    color: gray;
}

/******************************Footer-End********************************************/


/***************************Titel&SearchBar-Start**********************************/
.page_titelSearchBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 120px;
    /* background-color: green; */
}


.page_titelSearchBarForm {
    border: 1px solid #b4b3b3;
    border-radius: 0.15cm;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2.5px;
}

.page_titelSearchBarFormSearchBar {
    border: 1px solid transparent;
    padding: 5px;
    /* background-color: green; */
}


.page_titelSearchBarFormSearchBar:focus {
    box-shadow: 0px 0px 0px 3px #9fffe4;
    outline: none;
    border-radius: 0.1cm;
}

.page_titelSearchBarFormSearchButton {
    padding: 5px;
    padding-left: 8px;
    background-color: lightgray;
    border-left: 1px solid #b4b3b3;
    cursor: pointer;
}

/***************************Titel&SearchBar-End**********************************/


/***************************PageNumber-Start**********************************/

.PageNumberBoxParent {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px 120px;

}

.PageNumberBoxchildParent {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 0.10cm;
}

.PageNumberBoxchild {
    border-left: 1px solid lightgray;
    padding: 5px;
    width: 35px;
    cursor: pointer;
}

.PageNumberBoxchild:hover {
    background-color: lightgray;
}

.PageNumberBoxchild01 {
    border-left: 0px solid transparent;
    background-color: blue;
    color: white;
}

.PageNumberBoxchild01:hover {
    background-color: blue;
}

/***************************PageNumber-End**********************************/


/***************************ProdectListBox-Start**********************************/

.page_ProdectListBoxParent {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0px 95px;
    flex-wrap: wrap;
    /* background-color: green; */
}

/****************ProdectListBox_List-Start********************/

.page_ProdectListBoxChild {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 250px;
    margin-left: 30px;
    margin-bottom: 15px;
    /* background-color: red; */
}

.page_ProdectListBoxChildImage {
    width: 150px;
    height: 150px;
    /* background-color: red; */
}

.page_ProdectListBoxChildTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    /* background-color: red; */
}

.page_ProdectListBoxChildDetails {
    text-align: start;
    /* background-color: red; */
}

.page_ProdectListBoxChildPopupParent {
    display: flex;
    justify-content: end;
    position: relative;
    bottom: 215px;
    /* background-color: red; */
}

.page_ProdectListBoxChildPopupParent:hover {
    display: none;
}

.page_ProdectListBoxChildPopup {
    display: none;
}

.page_ProdectListBoxChildDetails:hover .page_ProdectListBoxChildPopup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    width: 200px;
    /* background-color: red; */
}

.page_ProdectListBoxChildPopupText {
    background-color: white;
    border-radius: 0.25cm;
    padding: 5px;
    /* background-color: red; */
}


.page_ProdectListBoxChildDetailsPrice {
    font-weight: bold;
    /* background-color: red; */
}

.page_ProdectListBoxChildDetailsPrice_DiscountPrice {
    color: red;
    /* background-color: red; */
}

.page_ProdectListBoxChildDetailsPrice_OrginalPrice {
    text-decoration: line-through;
}

.page_ProdectListBoxChild_ViewDetails {
    width: 100%;
    border: 1px solid #c9c9c9;
    background-color: #e5e4e4;
    border-radius: 0.10cm;
    padding: 10px;
    font-weight: bold;
    font-size: 14px;
    color: #6b6b6b;
    cursor: pointer;
    /* background-color: red; */
}

.page_ProdectListBoxChild_ViewDetails:hover {
    background-color: lightgray;
    text-decoration: underline;
    /* background-color: red; */
}

/****************ProdectListBox_List-End********************/

/****************ProdectListBox_UniqueList-Start********************/

.page_ProdectListBoxChildFullDetails {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: start;
    gap: 10px;
    padding: 0px 25px;
    /* background-color: red; */
}

.page_ProdectListBoxChildFullDetailsline1 {
    background-color: #e5e3e3;
    padding: 5px 0px;
    /* background-color: red; */
}

.page_ProdectListBoxChildFullDetailsline1Back {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

.page_ProdectListBoxChildFullDetailsline1text {
    color: gray;
}

.page_ProdectListBoxChildFullDetailsline2 {
    font-weight: bold;
    font-size: 28px;
}


.page_ProdectListBoxChildFullDetailsline3 {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 50%;
    gap: 25px;
}

.page_ProdectListBoxChildFullDetails3Top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
}


.page_ProdectListBoxChildFullDetailsImage {
    width: 100%;
}

.page_ProdectListBoxChildFullDetails3details a {
    color: blue;
}

.page_ProdectListBoxChildFullDetails3_AccessDeal {
    width: 100%;
    border: 1px solid #c9c9c9;
    background-color: #e5e4e4;
    border-radius: 0.10cm;
    padding: 10px;
    font-weight: bold;
    font-size: 14px;
    color: #6b6b6b;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}


.page_ProdectListBoxChildFullDetails3_AccessDeal:hover {
    background-color: lightgray;
    text-decoration: underline;
}

.page_ProdectListBoxChildFullDetails4 {
    font-size: 12px;
    font-style: italic;
    color: gray;
}

.page_ProdectListBoxChildFullDetails {
    display: none;
}

/****************ProdectListBox_UniqueList-End********************/

/***************************ProdectListBox-End**********************************/

@media screen and (max-width: 800px) {
    .page_titelSearchBar {
        padding: 10px 77px;
    }

    .page_ProdectListBoxParent {
        padding: 0px 50px;
        /* background-color: red; */
    }

    .PageNumberBoxParent {
        padding: 0px 77px;
    }

    .page_footer {
        padding: 5px 77px;
        /* background-color: red; */
    }

    .page_ProdectListBoxChildFullDetails {
        padding: 0px 30px;
    }
}

@media screen and (max-width: 700px) {

    .page_header {
        margin-bottom: 0px;
    }

    .page_titelSearchBar {
        justify-content: space-between;
        /* flex-direction: column; */
        gap: 10px;
    }

    .page_titelSearchBar {
        padding: 20px;
    }

    .page_ProdectListBoxParent {
        padding: 0px 20px;
        /* background-color: red; */
    }

    .page_ProdectListBoxChild {
        width: 100%;
        margin-left: 0px;
        margin-bottom: 10px;
        /* background-color: red; */
    }

    .PageNumberBoxParent {
        padding: 0px 20px;
        /* background-color: red; */
    }

    .page_ProdectListBoxChildPopupParent {
        bottom: 130px;
        /* background-color: red; */
    }

    .page_ProdectListBoxChildDetails:hover .page_ProdectListBoxChildPopup {
        width: 80%;
    }

    .page_footer {
        padding: 5px 20px;
        /* background-color: green; */
    }

    .page_ProdectListBoxChildFullDetails {
        padding: 0px;
    }

    .page_ProdectListBoxChildFullDetailsline2 {
        font-size: 22px;
    }

    .PageNumberBoxchild {
        padding: 3px;
        width: 30px;
    }
}


@media screen and (max-width: 600px) {

    .page_titelSearchBar_titel {
        font-size: 28px;
    }

    .page_ProdectListBoxChild {
        width: 100%;
    }

    .page_ProdectListBoxChildFullDetailsline3 {
        width: 100%;
        /* background-color: green; */
    }

    .page_headerRight_div {
        position: absolute;
        right: 5px;
        top: 80px;
        width: 40%;
        box-shadow: 1px 1px 10px 3px gray;
    }

    .page_headerRight_divMenu {
        flex-direction: column;
        align-items: start;
        gap: 0px;
        background-color: #e9e9e9;
        width: 100%;
    }

    .mobileMenuList {
        padding: 10px;
        width: 100%;
        text-align: start;
        color: black;
        border: 1px solid gray;
    }

    .mobileMenuList:hover {
        background-color: rgb(148, 147, 147);
        color: white;
    }

    .mobileMenu {
        display: flex;
        cursor: pointer;
    }

    .page_headerLeft_divImage {
        border-radius: 50%;
        border: 1px solid white;
    }

    .page_headerRight_div,
    .page_headerLeft_divImageClose {
        display: none;
    }


    .page_headerLeft_divImageMenu {
        display: flex;
    }
}


@media screen and (max-width: 480px) {

    .page_titelSearchBar_titel {
        font-size: 18px;
    }

    .page_titelSearchBarFormSearchBar {
        width: 100px;
    }

    .page_footer {
        gap: 10px;
    }

    .page_footerBottom_Div {
        font-size: 12.5px;
    }
}
